{% extends 'store/base/base.html' %}

{% load static %}

<!-- ========================= SECTION MAIN ========================= -->
{% block section_main %}
<section class="section-intro padding-y-sm">
<div class="container">

<div class="intro-banner-wrap">
	<a href = "{% url 'store' brandCategory='All' sizeCategory='All' priceCategory='All'  %}"><img src="{% static 'store/images/banners/banner2.png' %}" width="100%" class="img-fluid rounded"></a>
	
</div>

</div> <!-- container //  -->
</section>
{% endblock %}
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
{% block section %}
<section class="section-name padding-y-sm">
<div class="container">

<header class="section-heading">
	<a href="{% url 'store' brandCategory='All' sizeCategory='All' priceCategory='All' %}" class="btn btn-outline-primary float-right">See all</a>
	<h3 class="section-title">Popular products</h3>
</header><!-- sect-heading -->

	
<div class="row">
	{% for pro in products %}
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="{% url 'detail' pro.slug %}" class="img-wrap"> <img src={{ pro.image.url }}> </a>
			<figcaption class="info-wrap">
				<a href="{% url 'detail' pro.slug %}" class="title">{{ pro.name }}</a>
				<div class="price mt-1">${{ pro.price }}</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	{% endfor %}
</div> <!-- row.// -->

</div><!-- container // -->
</section>
{% endblock %}
<!-- ========================= SECTION  END// ========================= -->
