{% extends 'store/base/base.html' %}

{% load static %}


<!-- ========================= SECTION CONTENT ========================= -->
{% block profile %}
<section class="section-conten padding-y bg">

<div class="container">
	<div class="row">
	<aside class="col-md-3">
		<!--   SIDEBAR   -->
		<ul class="list-group">
			<a class="list-group-item active" href="#"> My Profile </a>
		</ul>
		<br>
		<a class="btn btn-light btn-block" href="{%url 'logout' %}"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a> 
		<!--   SIDEBAR .//END   -->
	</aside>
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">user id: {{request.user.id}}</strong>
			<strong class="d-inline-block mr-3">username: {{request.user.username}}</strong>
		</header>
		<div class="card-body">
			<div class="row"> 
				<div class="col-md-4">
					<div class="icontext w-100">
						<img
						src="{% static 'store/images/avatars/default_avatar.jpg' %}"
						class="img-xs rounded-circle"
						id="avatar"
						/>
						<label class="title text-muted"><br>{{ request.user.first_name }} {{ request.user.last_name }} !</label>
					</div>
				</div>
				<div class="col-md-8">
					<h6 class="text-muted">Infomation</h6>
					<p>Email: {{ request.user.email }} </p>
					<form method="POST" action="">
						{% csrf_token %}
						{% if not edit %}
							<input disabled name="first_name" value="{{ request.user.first_name }}">
							<input disabled name="last_name" value="{{ request.user.last_name }}">
							<input disabled name="city" value="{{ cus.city }}">
							<div id="gender" class="form-group">
								{% if cus.gender == 'male' %}
								<label class="custom-control custom-radio custom-control-inline">
								    <input disabled class="custom-control-input" checked="" type="radio" name="gender" value="male">
								    <span class="custom-control-label"> Male </span>
								</label>
								<label class="custom-control custom-radio custom-control-inline">
								    <input disabled class="custom-control-input" type="radio" name="gender" value="female">
								    <span class="custom-control-label"> Female </span>
								</label>
								{% else %}
								<label class="custom-control custom-radio custom-control-inline">
								    <input disabled class="custom-control-input" type="radio" name="gender" value="male">
								    <span class="custom-control-label"> Male </span>
								</label>
								<label class="custom-control custom-radio custom-control-inline">
								    <input disabled class="custom-control-input" checked="" type="radio" name="gender" value="female">
								    <span class="custom-control-label"> Female </span>
								</label>
								{% endif %}
							</div>
							<div id="country" class="form-group col-md-6">
					  			<label>Country</label>
					  			<select disabled class="form-control" name = "country">
									{% for item in country %}
										{% if cus.country == item %}
											<option value = "{{ item }}" selected="">{{ item }}</option>
										{% else %}
											<option value = "{{ item }}">{{ item }}</option>
										{% endif %}
									{% endfor %}
					  			</select>
							</div> <!-- form-group end.// -->
							<button onclick="document.getElementById('type').value = 'edit'" type="submit">Edit</button>
						{% else %}
							<input name="first_name" value="{{ request.user.first_name }}">
							<input name="last_name" value="{{ request.user.last_name }}">
							<input disabled name="city" value="{{ cus.city }}">
							<input disabled name="gender" value="{{ cus.gender }}">
							<input disabled name="country" value="{{ cus.country }}">
							<button onclick="document.getElementById('type').value = 'save'" type="submit">Save</button>
						{% endif %}
						<input hidden id="type" name="type" value="">
					</form>
				</div>
			</div> <!-- row.// -->
		</div> <!-- card-body .// -->
		<div class="table-responsive">
		<table class="table table-hover">
			<tr>
				<td width="65">
					<img src="../images/items/1.jpg" class="img-xs border">
				</td>
				<td> 
					<p class="title mb-0">Product name goes here </p>
					<var class="price text-muted">USD 145</var>
				</td>
				<td> Seller <br> Nike clothing </td>
				<td width="250"> <a href="#" class="btn btn-outline-primary">Track order</a> <a href="#" class="btn btn-light"> Details </a> </td>
			</tr>
			<tr>
				<td>
					<img src="../images/items/2.jpg" class="img-xs border">
				</td>
				<td> 
					<p class="title mb-0">Another name goes here </p>
					<var class="price text-muted">USD 15</var>
				</td>
				<td> Seller <br> ABC shop </td>
				<td> <a href="#" class="btn btn-outline-primary">Track order</a> <a href="#" class="btn btn-light"> Details </a> </td>
			</tr>
			<tr>
				<td>
					<img src="../images/items/3.jpg" class="img-xs border">
				</td>
				<td> 
					<p class="title mb-0">The name of the product  goes here </p>
					<var class="price text-muted">USD 145</var>
				</td>
				<td> Seller <br> Wallmart </td>
				<td> <a href="#" class="btn btn-outline-primary">Track order</a> <a href="#" class="btn btn-light"> Details </a> </td>
			</tr>
		</table>
		</div> <!-- table-responsive .end// -->
		</article> <!-- order-group.// --> 
	</main>
</div> <!-- row.// -->
</div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<script>
if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}
</script>
{% endblock %}