{% extends 'store/base/base.html' %}

{% load static %}


<!-- ========================= SECTION CONTENT ========================= -->
{% block profile %}
<section class="section-conten padding-y bg">

<div class="container">
	<div class="row">
	<aside class="col-md-3">
		<!--   SIDEBAR   -->
		<ul class="list-group">
			<a class="list-group-item active" href="#"> My Profile </a>
		</ul>
		<br>
		<a class="btn btn-light btn-block" href="{%url 'logout' %}"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a> 
		<!--   SIDEBAR .//END   -->
	</aside>
	<main class="col-md-9">
		<article class="card">
		<header class="card-header" id="header_user">
			<strong class="d-inline-block mr-3 ">USERID: {{request.user.id}}</strong>
			<strong class="d-inline-block mr-3 ">USERNAME: {{request.user.username}}</strong>
		</header>
		<div class="card-body">
			<div class="row"> 
				<div class="col-md-4">
					<div class="icontext w-100">
						<img
						src="{% static 'store/images/avatars/default_avatar.jpg' %}"
						class="img-xs rounded-circle"
						id="avatar"
						/>
						<label><strong>{{ request.user.first_name }} {{ request.user.last_name }}</strong></label>
					</div>
				</div>
				<div class="col-md-8">
					<h6 class="text-muted">Infomation</h6>
					<p>Email: {{ request.user.email }} </p>
					<form method="POST" action="">
						{% csrf_token %}
						{% if not edit %}
							<div class="form-row">
								<div class="form-group col-md-6">
								  <label>First Name</label>
								  <input type="text" class="form-control" disabled name="first_name" value="{{ request.user.first_name }}">
								</div>
								<div class="form-group col-md-6">
								  <label>Last Name</label>
								  <input type="text" class="form-control" disabled name="last_name" value="{{ request.user.last_name }}">
								</div>
							</div> <!-- form-row.// -->
							<div class="form-row">
								<div class="form-group col-md-6">
								  	<label>City</label>
								  	<input type="text" class="form-control" disabled name="city" value="{{ cus.city }}">
								</div>
								<div class="form-group col-md-6">
									<label>Country</label>
									<select disabled class="form-control" name = "country">
										{% for item in country %}
											{% if cus.country == item %}
												<option value = "{{ item }}" selected="">{{ item }}</option>
											{% else %}
												<option value = "{{ item }}">{{ item }}</option>
											{% endif %}
										{% endfor %}
									</select>
								</div> <!-- form-group end.// -->
							</div> <!-- form-row.// -->
							<div class="form-row">
								<div class="form-group col-md-6">
									<label>Gender</label>
									<br><span>&emsp;</span>
									{% if cus.gender == 'male' %}
									<label class="custom-control custom-radio custom-control-inline">
										<input disabled class="custom-control-input" checked="" type="radio" name="gender" value="male">
										<span class="custom-control-label"> Male </span>
									</label>
									<label class="custom-control custom-radio custom-control-inline">
										<input disabled class="custom-control-input" type="radio" name="gender" value="female">
										<span class="custom-control-label"> Female </span>
									</label>
									{% else %}
									<label class="custom-control custom-radio custom-control-inline">
										<input disabled class="custom-control-input" type="radio" name="gender" value="male">
										<span class="custom-control-label"> Male </span>
									</label>
									<label class="custom-control custom-radio custom-control-inline">
										<input disabled class="custom-control-input" checked="" type="radio" name="gender" value="female">
										<span class="custom-control-label"> Female </span>
									</label>
									{% endif %}
								</div>
								<button onclick="document.getElementById('type').value = 'edit'" type="submit" class="btn btn-outline-primary">Edit</button>
							</div> <!-- form-row.// -->
						{% else %}
							<div class="form-row">
								<div class="form-group col-md-6">
								  <label>First Name</label>
								  <input type="text" class="form-control" name="first_name" value="{{ request.user.first_name }}">
								</div>
								<div class="form-group col-md-6">
								  <label>Last Name</label>
								  <input type="text" class="form-control" name="last_name" value="{{ request.user.last_name }}">
								</div>
							</div> <!-- form-row.// -->
							<div class="form-row">
								<div class="form-group col-md-6">
								  	<label>City</label>
								  	<input type="text" class="form-control" name="city" value="{{ cus.city }}">
								</div>
								<div class="form-group col-md-6">
									<label>Country</label>
									<select class="form-control" name = "country">
										{% for item in country %}
											{% if cus.country == item %}
												<option value = "{{ item }}" selected="">{{ item }}</option>
											{% else %}
												<option value = "{{ item }}">{{ item }}</option>
											{% endif %}
										{% endfor %}
									</select>
								</div> <!-- form-group end.// -->
							</div> <!-- form-row.// -->
							<div class="form-row">
								<div class="form-group col-md-6">
									<label>Gender</label>
									<br><span>&emsp;</span>
									{% if cus.gender == 'male' %}
									<label class="custom-control custom-radio custom-control-inline">
										<input class="custom-control-input" checked="" type="radio" name="gender" value="male">
										<span class="custom-control-label"> Male </span>
									</label>
									<label class="custom-control custom-radio custom-control-inline">
										<input class="custom-control-input" type="radio" name="gender" value="female">
										<span class="custom-control-label"> Female </span>
									</label>
									{% else %}
									<label class="custom-control custom-radio custom-control-inline">
										<input class="custom-control-input" type="radio" name="gender" value="male">
										<span class="custom-control-label"> Male </span>
									</label>
									<label class="custom-control custom-radio custom-control-inline">
										<input class="custom-control-input" checked="" type="radio" name="gender" value="female">
										<span class="custom-control-label"> Female </span>
									</label>
									{% endif %}
								</div>
								<button onclick="document.getElementById('type').value = 'save'" type="submit" class="btn btn-outline-primary">Save</button>
							</div> <!-- form-row.// -->
						{% endif %}
						<input hidden id="type" name="type" value="">
					</form>
				</div>
			</div> <!-- row.// -->
		</div> <!-- card-body .// -->
		<header class="card-header" id="header_bill">
			<strong class="d-inline-block mr-3 ">TOP 3 RECENTS ORDER  </strong>
		</header><br>
		<div class="table-responsive">
		{% for item in list %}
		<table class="table table-hover">
			<label id="date_label"><strong>{{ item.bills.0.checkout_date }}</strong></label>
			{% for bill in item.bills %}
			<tr>
				<td width="100">
					<img src="{{ bill.sq.product.image.url }}" class="border" id="bill_item_img">
				</td>
				<td> 
					<p class="title mb-0">{{ bill.sq.product.name }}</p>
					<small class="title text-muted">$ {{ bill.sq.product.price }}</small><br>
					<p class="price text-muted">$ {{ bill.total }}</p>
				</td>
				<td width="200">Quantity: {{ bill.quantity }} <br>Size: {{ bill.sq.size }} <br>Brand: {{ bill.sq.product.brand }} </td>
				<td width="200"><a href="{% url 'detail' bill.sq.product.slug %}" class="btn btn-outline-primary">Detail</a></td>
			</tr>
			{% endfor %}

		</table>
			<p id="total_label"><strong>Total: </strong>$ {{ item.total|floatformat:2 }}</p>
		{% endfor %}
		</div> <!-- table-responsive .end// -->
		</article> <!-- order-group.// --> 
	</main>
</div> <!-- row.// -->
</div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<script>
if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}
</script>
{% endblock %}