{% extends 'store/base/base.html' %}

{% load static %}

{% block store %}
<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg" >
<div class="container">
	<h2 class="title-page">Our Store</h2>
</div> <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
<div class="container">

<div class="row">
	<aside class="col-md-3">
		
<div class="card">
	<article class="filter-group">
		<header class="card-header">
			<a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
				<i class="icon-control fa fa-chevron-down"></i>
				<h6 class="title">Categories</h6>
			</a>
		</header>
		<div class="filter-content collapse show" id="collapse_1" style="">
			<div class="card-body">
				<ul class="list-menu">
				{% for item in brand %}
					{% if item == listBrandCategory %}
						<li  class = "active page-item" ><a class ="page-link" href="{% url 'store' brandCategory=item sizeCategory='All' priceCategory='All'   searchCategory='All' %}">{{item}}  </a></li>
					{%else%}
						<li class = "page-item"><a class ="page-link" href="{% url 'store' brandCategory=item sizeCategory='All' priceCategory='All'   searchCategory='All' %}">{{item}}  </a></li>
					{% endif %}
				{% endfor %}
				</ul>

			</div> <!-- card-body.// -->
		</div>
	</article> <!-- filter-group  .// -->
	<form method = "POST" action = "">
		{% csrf_token %}
		<article class="filter-group">
			<header class="card-header">
				<a href="#" data-toggle="collapse" data-target="#collapse_4" aria-expanded="true" class="">
					<i class="icon-control fa fa-chevron-down"></i>
					<h6 class="title">Sizes </h6>
				</a>
			</header>
			<div class="filter-content collapse show" id="collapse_4" style="">
				<div class="card-body">
				{% for item in size %}
				<label class="checkbox-btn ">
					{% if item in listSizeCategory %}
						<input checked type="checkbox" name = "sizeCategory" value = {{item}}>
					{% else %}
						<input  type="checkbox" name = "sizeCategory" value = {{item}}>
					{% endif %}
					<span class="btn btn-light" > {{item}} </span>
				</label>
				{% endfor %}
			</div><!-- card-body.// -->
			</div>
		</article> <!-- filter-group .// -->
		
		<article class="filter-group">
			<header class="card-header">
				<a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
					<i class="icon-control fa fa-chevron-down"></i>
					<h6 class="title">Price range </h6>
				</a>
			</header>
			<div class="filter-content collapse show" id="collapse_3" style="">
				<div class="card-body">
					<div class="form-row">
					<div class="form-group col-md-6">
					<label>Min</label>
					<!-- <input class="form-control" placeholder="$0" type="number"> -->
						<select class="mr-2 form-control" name = "min">
							{% for i in listMin %}
								{% if i == listPriceCategory.0 %}
									<option selected value="{{i}}">${{i}}</option>
								{% else %}
									<option value="{{i}}">${{i}}</option>
								{%endif %}
							{% endfor %}
						</select>
					</div>
					<div class="form-group text-right col-md-6">
					<label>Max</label>
						<select class="mr-2 form-control"  name = "max">
							{% for i in listMax %}
								{% if i == listPriceCategory.1 %}
									<option selected value="{{i}}">${{i}}</option>
								{% else %}
									<option value="{{i}}">${{i}}</option>
								{%endif %}
							{% endfor %}			
						</select>
					</div>
					</div> <!-- form-row.// -->
					<button class="btn btn-block btn-primary" type = "submit">Apply</button>
				</div><!-- card-body.// -->
			</div>
		</article> <!-- filter-group .// -->
	</form>
</div> <!-- card.// -->

	</aside> <!-- col.// -->
	<main class="col-md-9">

<header class="border-bottom mb-4 pb-3">
		<div class="form-inline">
			<span class="mr-md-auto">{{ itemFound }} Items found </span>
			
		</div>
</header><!-- sect-heading -->

<div class="row">
{% if page.object_list|length > 0 %}
	{% for  pro in page.object_list %}	
		<div class="col-md-4">
			<figure class="card card-product-grid">
				<div class="img-wrap"> 
					<img id="index_img" src="{{ pro.image.url }}">
					
				</div> <!-- img-wrap.// -->
				<figcaption class="info-wrap">
					<div class="fix-height">
						<a href="{% url 'detail' pro.slug %}" class="title">{{pro.name}}</a>
						<div class="price-wrap mt-2">
							<span class="price">$ {{pro.price}}</span>
						</div> <!-- price-wrap.// -->
					</div>
					<a href="{% url 'detail' pro.slug %}" class="btn btn-block btn-primary">Add to cart </a>
				</figcaption>
			</figure>
		</div> <!-- col.// -->
	{% endfor %}	
{% else %}
<div class ="alert alert-danger">
	<strong>NOT FOUND!!</strong>
</div>
		
{% endif %}
</div> <!-- row end.// -->

<nav class="mt-4" aria-label="Page navigation sample">
  <ul class="pagination">

	{% if page.has_previous%}
    <li class="page-item"><a class="page-link" href="{%url 'store' brandCategory=listBrandCategory sizeCategory=listSizeCategory priceCategory=listPriceCategory searchCategory=search %}?page={{page.previous_page_number}}">Previous</a></li>
	{% endif %}

	{% for pages in page.paginator.page_range %}
		{% if page.number == pages  %}
			<li class="active page-item"><a class = "page-link" href="{%url 'store' brandCategory=listBrandCategory sizeCategory=listSizeCategory priceCategory=listPriceCategory searchCategory=search %}?page={{pages }}">{{pages}}</a></li>
		{% elif pages > page.number|add:'-3' and pages < page.number|add:'3' %}
			<li class="page-item"><a class = "page-link" href="{%url 'store' brandCategory=listBrandCategory sizeCategory=listSizeCategory priceCategory=listPriceCategory searchCategory=search %}?page={{pages }}">{{pages}}</a></li>
		{% endif %}
	{% endfor %}

	{% if page.has_next%}
    <li class="page-item"><a class="page-link" href="{%url 'store' brandCategory=listBrandCategory sizeCategory=listSizeCategory priceCategory=listPriceCategory searchCategory=search %}?page={{page.next_page_number}}">Next</a></li>
	{% endif %}
	
  </ul>
</nav>

	</main> <!-- col.// -->

</div>

</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top padding-y">
	<div class="container">
		<p class="float-md-right"> 
			&copy Copyright 2019 All rights reserved
		</p>
		<p>
			<a href="https://terms.account.samsung.com/contents/legal/usa/eng/general.html">Terms and conditions</a>
		</p>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->
{% endblock %}